.room-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 300px;
}

.room-info .font-bold {
    font-weight: bold;
}

@media (width >=768px) {
    .room-list {
        flex-flow: row wrap;
    }

    .room {
        flex: 0 0 calc(50% - 24px);
    }
}
